body {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: sans-serif;
    
}

table, th, td {
 border: 1px solid black;
 padding: 5px;
 border-collapse: collapse;

}

table {
margin-top: 10px;

}