body {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: sans-serif;
    
}

table, th, td {
 border: 1px solid black;
 padding: 5px;
 border-collapse: collapse;

}

table {
margin-top: 10px;

}


.contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.bloque {
    width: 45%;
}


.bloqueizquierda {
    text-align: left;
}

.bloquederecha {
    text-align: right;
}
